@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(200,200,200);
  --foreground: rgb(7, 7, 7);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono);
}

h1, h2, h3 {
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #070707;
}

::-webkit-scrollbar-thumb {
  background: #C8C8C8;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}