@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(7,7,7);
  --foreground: rgb(248,248,248);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono);
}
