@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(200,200,200);
  --foreground: rgb(7, 7, 7);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono);
}

h1, h2, h3 {
  font-weight: 600;
}
